* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Bebas Neue', sans-serif;
}
a > span {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
}
h1,h2, h3 {
  letter-spacing: 0.05em;
}

h2, h3 {
  font-size: 32px;
}

nav a,
p,
label {
  font-family: 'Oswald', sans-serif;
}

.enlace-3 {
  color: #000000;
}

a {
  text-decoration: none;
}

.email {
  background-image: url('../img/sobre.png');
  background-size: cover;
}

.facebook {
  background-image: url('../img/facebook.png');
  background-size: cover;
}
.instagram {
  background-image: url('../img/instagram.png');
  background-size: cover;
}

.email-blanco {
  background-image: url('../img/icon/sobre\(1\).png');
  background-size: cover;
}

.facebook-blanco {
  background-image: url('../img/icon/facebook\(1\).png');
  background-size: cover;
}

.instagram-blanco {
  background-image: url('../img/icon/instagram\(1\).png');
  background-size: cover;
}
.ubicacion-blanco {
  background-image: url('../img/icon/ubicacion.png');
  background-size: cover;
}

.boton-primario, .boton-secundario {
  border-radius: 20px;
  display: inline-block;
  height: 50px;
  padding-top: 12px;
  text-align: center;
  width: 150px;
  color: #FFFFFF;
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.boton-primario {
  background-color: #93C01F;
}

.boton-secundario {
  background-color: #cb6370;

}

.boton-primario:hover, .boton-secundario:hover {

}

.boton-primario:active, .boton-secundario:active {
  box-shadow: 
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*______________________________Header_____________________________*/
nav {
  background-color: #FFFFFF;
  border: 1px solid #93C01F;
  border-radius: 10PX;
  box-shadow: 2px 3px 3px #555962;
  height: 72px;
  margin: 2% 5% 0 5%;
  min-width: 742px;
  position: fixed;
  width: 90%;
  z-index: 1;
  display: grid;
  grid-template-columns: 150px minmax(400px,auto) 200px;
  grid-template-rows: 70px;
}

nav > div {
  height: 100%;
}

nav > div:first-child, nav > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > div:last-child {
  justify-content: left;
}

nav .logo {
  height: 72px;
}

nav ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin: auto;
  max-width: 600px;
}

nav li {
  list-style: none;
}

nav a {
  color: #000000;
}

.select {
  text-decoration: underline;
}


/*______________________________Sección 1 Home_____________________________*/
.seccion-1 {
  height: 960px;
  overflow: hidden;
  box-shadow: 2px 2px 3px #000000;
  width: 100%;
}

.espacio-izq-sec-1 {
  left: 10%;
  position: relative;
}
.fondo-seccion-1 {
  background-image: url('../img/figma/disparo-horizontal-dos-gatos-sentados-sobre-fondo-borroso.jpg');
  background-size: cover;
  height: 960px;
  position: absolute;
  width: 100%;
}

.cubre-fotos {
  background-color: #000000;
  height: 960px;
  position: absolute;
  opacity: 0.7;
  width: 100%;
}

.seccion-1 h1 {
  color: #FFFFFF;
  font-size: 3em;
  top: 40%;
}

.seccion-1 p {
  color: #FFFFFF;
  line-height: 2.5em;
  top: 46%;
}

.botones {
  top: 57%;
}

div.botones {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
}

/*______________________________Sección 2 Home_____________________________*/

.seccion-2, .seccion-3 {
  background-size: cover;
  height: 856px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.fondo-seccion-2, .fondo-seccion-3 {
  position: relative;
  height: 856px;
  width: 100%;
}

.fondo-seccion-2 {
  background-image: url('../img/Fondo\ franja\ 2.png');
  display: grid;
  grid-template-columns: minmax(370px, 50%) 50%;
  align-items: center;
}

.texto-secc-2 {
  border-left: 2px solid #93C01F;
  padding-left: 40px;
}

.seccion-2 h2 {
  color: #93C01F;
  margin-bottom: 15px
}

.seccion-2 p {
  font-weight: lighter;
  line-height: 2em;
}

.redes-sociales {
  height: 80px;
  display: flex;
  justify-content: space-between;
  width: 184px;
  align-items: center;
}

.redes-sociales div {
  width: 30px;
  height: 30px;
}

.seccion-2 .boton {
  margin-top: 15px;
  position: relative;
  z-index: 0;
}

.imagenes {
  z-index: 0;
  position: relative;
  height: inherit;
}
.imagenes img {
  border: 20px solid white;
  border-radius: 40px;
}

.imagenes img:first-child {
  height: 312px;
  width: 416px;
  position: absolute;
  z-index: 2;
  top: 47%;
}

.imagenes img:last-child {
  left: 22%;
  height: 424px;
  width: 616px;
  position: absolute;
  top: 39px;
}

/*______________________________Sección 3 Home_____________________________*/

.fondo-seccion-3 {
  background-image: url('../img//fondocolabora.JPG');
  box-shadow: 2px 2px 3px #000000;
}

.texto-secc-3 {
  position: relative;
  top: 10%;
}

.texto-secc-3 h2 {
  color: #FFFFFF;
  font-size: 48px;
  text-align: center;
}

.cards {
  position: relative;
  top: 30%;
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid #93C01F;
  border-radius: 30px;
  box-shadow: 3px 3px 3px #555962;
  float: left;
  height: 388px;
  min-width: 289px;
  position: relative;
  text-align: center;
  width: 289px;
}

.card h3 {
  color: #cb6370;
  margin-top: 20px;
}

.card img {
  height: 74px;
  width: 74px;
}

.card .descripcion {
  font-weight: lighter;
}

.card-email  {
  color: #93C01F;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*______________________________Footer_____________________________*/
.footer {
  background-color: #555962;
  height: 400px;
  width: 100%;
}

.texto-footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 85% 15%;
  height: 100%;
  justify-items: center;
  min-width: 742px;
}

.contacto, .enlaces, .ubicacion {
  display: grid;
  grid-template-rows: 81px repeat(4,45px);
  align-items: center;
  width: 60%;
}

.contacto, .ubicacion {
  grid-template-columns: 20% auto;
}

.enlaces {
  grid-template-columns: 100%;
}

.enlaces a{
  grid-column-start: 1;
  grid-column-end: 3;

}
.contacto div, .ubicacion div {
  width: 20px;
  height: 20px;
}

.footer h3 {
  color: #FFFFFF;
  align-self: end;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 24px;
  justify-self: left;
}

.footer a {
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}

.footer-footer {
  display: grid;
  grid-template-rows: 10% 89%;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

.footer-footer hr {
  color: #FFFFFF;
  width: 90%;
  height: 2px;
  justify-self: center;
}

.footer-footer a {
  justify-self: center;
}
.ubicacion iframe {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  border-radius: 4%;
}